@import "../../../styles/variables.module.scss";

.button {
    border: 2px solid $darkBlue;
    background-color: $lightBlue;
    color: $mainLight;
    transition-property: background-color, border-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    font-size: 1.1rem;
    padding: 1rem;

    &:hover {
        background-color: $green !important;
        border-color: $green !important;
        color: $pink;
    }
}