@import "../../styles/variables.module.scss";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $darkBlue;
    height: 100vh;

    .content {
        width: 60%;

        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;

            h1 {
                font-size: 4rem;
                color: $pink;
                margin: 0;
                justify-content: center;
            }

            p {
                margin: 0;
                align-self: flex-end;
                font-style: italic;
            }
        }


        .inner {
            display: flex;
            justify-content: space-between;

            .button-container {
                width: 50%;
                align-items: center;
                margin-top: 3rem;
            }
        }

        .actions {
            display: flex;
            justify-content: flex-start;

            .start-btn {
                margin-right: 2rem;
            }
        }
    }

}