@import "../../styles/variables.module.scss";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $darkBlue;
    height: 100vh;

    .titles {
        display: flex;
        flex-direction: column;
        align-items: end;

        h1 {
            margin-bottom: 10px;
            font-size: 4rem;
            color: $pink;
        }

        p {
            margin-bottom: 20px;
            font-size: 1.2rem;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-start;

        .start-btn {
            margin-right: 2rem;
        }
    }



}